baseURL = "https://www.cedricbonhomme.org"
languageCode = "en-US"
canonifyURLs = false

# theme as git submodule
theme = "anatole"
summarylength = 10
enableEmoji = true
enableRobotsTXT = true

# Syntax highlighting
pygmentsUseClasses = true
pygmentsCodeFences = true
pygmentsCodefencesGuessSyntax = true

rssLimit = 20

[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe=true

[taxonomies]
  category = "categories"
  series = "series"
  tag = "tags"

[params]
  title = "Cédric Bonhomme"
  author = "Cédric Bonhomme"
  description = "A computer scientist, intensely interested in computer security and privacy."
  profilePicture = "images/profile-picture.jpg"
  displayMode = "light"
  disableTitleCapitalization = true
  disableArchiveTitleStyling  = true
  doNotLoadAnimations = true
  copyright = "Cédric Bonhomme 2008-{{ YEAR }}"
  contact = true
  rssFullContent = true
  postSectionName = "blog"
  mainSections = ["post"]
  contentratio = 0.6
  relatedPosts = true
  numberOfRelatedPosts = 3
  customCss = ["css/custom.css"]
  images = ["/images/profile-picture.jpg"]

[related]
  includeNewer = true
  threshold = 80
  toLower = true
[[related.indices]]
  name = 'keywords'
  weight = 100
[[related.indices]]
  name = 'tags'
  weight = 80


[menu]
  [[menu.main]]
    name = "Home"
    identifier = "home"
    weight = 100
    url = "/"

  [[menu.main]]
    name = "About"
    weight = 200
    identifier = "about"
    url = "/about/"

  [[menu.main]]
  name = "Blog"
  weight = 300
  identifier = "blog"
  url = "/blog/"


  [[menu.main]]
  name = "Software"
  weight = 400
  identifier = "software"
  url = "/software/"

  [[menu.main]]
  name = "Publications"
  weight = 500
  identifier = "publications"
  url = "/publications/"

  [[menu.main]]
  name = "Photography"
  weight = 600
  identifier = "photography"
  url = "/photography/"

  [[menu.main]]
  name = "Contact"
  weight = 700
  identifier = "contact"
  url = "/contact/"

  [[menu.main]]
  name = "More"
  weight = 800
  identifier = "more"
  url = ""

[[menu.main]]
name = "Blogroll"
parent = "more"
weight = 100
identifier = "blogroll"
url = "/blogroll/"

[[menu.main]]
name = "Now"
parent = "more"
weight = 200
identifier = "now"
url = "/now/"

[[menu.main]]
name = "Sitemap"
parent = "more"
weight = 200
identifier = "sitemap"
url = "/sitemap/"


[permalinks]
  blog = '/:year/:month/:day/:slug/'

[outputs]
  home = ["HTML"]
  section = ["HTML", "RSS"]  # This applies to all sections like blog, software, etc.
  page = ["HTML"]


## Social links
# use 'fab' when brand icons, use 'fas' when standard solid icons.
[[params.socialIcons]]
icon = "fab fa-github"
title = "Code on GitHub"
url = "https://github.com/cedricbonhomme"

[[params.socialIcons]]
icon = "fab fa-google-scholar"
title = "Publications on Google Scholar"
url = "https://scholar.google.fr/citations?user=V34x_oUAAAAJ"

[[params.socialIcons]]
icon = "fab fa-orcid"
title = "Publications on ORCID"
url = "https://orcid.org/0009-0003-7679-0109"

[[params.socialIcons]]
icon = "fab fa-mastodon"
title = "Posts on Mastodon"
url = "https://fosstodon.org/@cedric"

[[params.socialIcons]]
icon = "fa fa-camera-retro"
title = "Photos on PixelFed"
url = "https://pixelfed.social/cedric"

[[params.socialIcons]]
icon = "fas fa-book-reader"
title = "Books on LibraryThing"
url = "https://www.librarything.com/profile/cedricbonhomme"

[[params.socialIcons]]
icon = "fab fa-strava"
title = "Activity on Strava"
url = "https://www.strava.com/athletes/cedricbonhomme"

[[params.socialIcons]]
icon = "fa-brands fa-linkedin-in"
title = "LinkedIn"
url = "https://www.linkedin.com/in/cedricbonhomme"

[[params.socialIcons]]
icon = "fas fa-rss"
title = "News via RSS"
url = "https://www.cedricbonhomme.org/blog/index.xml"
